            <div class="digest">
                <h1>{{node_name}}</h1>
                <div class="node_description">{{description}}</div>
                <div class="image">              
                    <img src="{{ image_source_file }}" alt="Image for node {{node_name}}" >
                </div>
	                {% if config_file is none %}
	                {% else %}
                        <h2>Config file: {{ config_file.topic }}</h2>
	                    <div class="config_content">
                            <p>{{content}}</p>
	                    </div>
	                {% endif %}

	                {% if publish is none %}
	                {% else %}
                        <h2>Publishers:</h2>	
                        <ul id="publish">
                            {% for item in publish %}
                                <li>
                                    {{item.topic}} [{{ item.topic_type }}]
                                    {% if item.dependences is none %}
	                                {% else %}
                                        <div class="list_element">
                                        Nodes subscribed to this topic:
                                            <ul>                                    
                                            {% for dependency in item.dependences %}
                                                <li class="list_element_li">
                                                    {{ dependency.topic }}
                                                </li> 
                                                {% endfor %}
                                            </ul>   
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if subscribe is none %}
	                {% else %}
                        <h2>Subscribers:</h2>	
                        <ul id="subscribe">
                            {% for item in subscribe %}
                                <li>
                                    {{item.topic}} [{{ item.topic_type }}]
                                    {% if item.dependences is none %}
	                                {% else %}
                                        <div class="list_element">
                                        Nodes publishing this topic:
                                        <ul>                                    
                                        {% for dependency in item.dependences %}
                                            <li>
                                                {{ dependency.topic }}
                                            </li> 
                                            {% endfor %}
                                        </ul>   
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if service is none %}
	                {% else %}
                        <h2>Services:</h2>	
                        <ul id="service">
                            {% for item in service %}
                                <li>{{item.topic}} [{{ item.topic_type }}]</li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if actionlib is none %}
	                {% else %}
                        <h2>Actionlibs:</h2>	
                        <ul id="actionlib">
                            {% for item in actionlib %}
                                <li>{{item.topic}} </li>
                            {% endfor %}
                        </ul>
	                {% endif %}
                </div> <!-- end digest -->

