<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html>
    <head> 
        <title> Page for message type {{name}} </title> 
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <div class="header">
            <table class="header_table">
                <tr>
                    <td><h3> {{ title }} </h3></td>
                    <td><h2> version {{ version }}</h2></td>
                </tr>
            </table> 
        </div> <!-- header end -->

        <div>
            <h1>{{ title }}:</h1>
            <div class="node_description"> 
                {{ description }}
            </div>                
            <h2>Nodes documented:</h2>	
            {% for item in nodes_list %}
                {{ item.topic }},&nbsp
            {% endfor %}
            
        </div> 
        <hr>
            
