<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head> 
        <title> Node page for {{node_name}} </title> 
        <link rel="stylesheet" type="text/css" href="style.css">

        <script type="text/javascript">
            // From: http://www.webdeveloper.com/forum/showthread.php?t=218226

            function ToggleList(IDS) {
                var CState = document.getElementById(IDS);
                if (CState.style.display != "block") { 
                    CState.style.display = "block"; 
                }
                else { 
                    CState.style.display = "none"; 
                }
            }
        </script>

   </head>
   <body>
        <div class="container">

            <div class="header">
                <table class="header_table">
                    <tr>
                        <td><h2><a href="index.html"> << </a></h2> </td>
                        <td><h3> {{ title }} </h3></td>
                        <td><h2> version {{ version }}</h2></td>
                    </tr>
                </table> 
            </div> <!-- end header -->

            <div class="side_bar">
                <a href="#" onclick="ToggleList('nodes_menu')"><h2>nodes</h2></a>
                <div class="side_bar_content" id="nodes_menu">
                    <ul id="nodes_list">
                        {% for item in nodes_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('config_file_menu')"><h2>config files</h2></a>
                <div class="side_bar_content" id="config_file_menu">
                    <ul id="config_file_list">
                        {% for item in config_files_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('topics_menu')"><h2>topics</h2></a>
                <div class="side_bar_content" id="topics_menu">
                    <ul id="topics_list">
                        {% for item in topics_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('services_menu')"><h2>services</h2></a>
                <div class="side_bar_content" id="services_menu">
                    <ul id="services_list">
                        {% for item in services_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- end side bar -->


            <div class="primary">
                <h1>{{node_name}}</h1>
                <div class="node_description">{{description}}</div>
                <div class="image">              
                    <img src="{{ image_source_file }}" alt="Image for node {{node_name}}" >
                </div>
	                {% if config_file is none %}
	                {% else %}
                        <h2>Config file:</h2>
	                    <div class="link_style"> <a href = "{{ config_file.href }}"> {{ config_file.topic }} </a> </div>
	                {% endif %}

	                {% if publish is none %}
	                {% else %}
                        <h2>Publishers:</h2>	
                        <ul id="publish">
                            {% for item in publish %}
                                <li>
                                    {{item.topic}} <a href="{{ item.href }}"> [{{ item.topic_type }}]</a>
                                    {% if item.dependences is none %}
	                                {% else %}
                                        <div class="list_element">
                                        Nodes subscribed to this topic:
                                            <ul>                                    
                                            {% for dependency in item.dependences %}
                                                <li class="list_element_li">
                                                    <a href="{{ dependency.href }}"> {{ dependency.topic }}</a>
                                                </li> 
                                                {% endfor %}
                                            </ul>   
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if subscribe is none %}
	                {% else %}
                        <h2>Subscribers:</h2>	
                        <ul id="subscribe">
                            {% for item in subscribe %}
                                <li>
                                    {{item.topic}} <a href="{{ item.href }}"> [{{ item.topic_type }}]</a>
                                    {% if item.dependences is none %}
	                                {% else %}
                                        <div class="list_element">
                                        Nodes publishing this topic:
                                        <ul>                                    
                                        {% for dependency in item.dependences %}
                                            <li>
                                                <a href="{{ dependency.href }}"> {{ dependency.topic }}</a>
                                            </li> 
                                            {% endfor %}
                                        </ul>   
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if service is none %}
	                {% else %}
                        <h2>Services:</h2>	
                        <ul id="service">
                            {% for item in service %}
                                <li>{{item.topic}} <a href="{{ item.href }}"> [{{ item.topic_type }}]</a></li>
                            {% endfor %}
                        </ul>
	                {% endif %}

	                {% if actionlib is none %}
	                {% else %}
                        <h2>Actionlibs:</h2>	
                        <ul id="actionlib">
                            {% for item in actionlib %}
                                <li>{{item.topic}} </li>
                            {% endfor %}
                        </ul>
	                {% endif %}
                </div> <!-- end primary -->

            <div class="footer">
                <p class="footer" align="center"> {{ date }} - v. 1.0</p>
            </div> <!-- end footer -->

        </div> <!-- end container -->
    </body>
</html>

