<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head> 
        <title> Page for service type {{name}} </title> 
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type="text/javascript">
            // From: http://www.webdeveloper.com/forum/showthread.php?t=218226

            function ToggleList(IDS) {
                var CState = document.getElementById(IDS);
                if (CState.style.display != "block") { 
                    CState.style.display = "block"; 
                }
                else { 
                    CState.style.display = "none"; 
                }
            }
        </script>
    </head>

    <body>
        <div class="container">

            <div class="header">
                <table class="header_table">
                    <tr>
                        <td><h2><a href="index.html"> << </a></h2> </td>
                        <td><h3> {{ title }} </h3></td>
                        <td><h2> version {{ version }}</h2></td>
                    </tr>
                </table> 
            </div> <!-- header end -->

            <div class="side_bar">
                <a href="#" onclick="ToggleList('nodes_menu')"><h2>nodes</h2></a>
                <div class="side_bar_content" id="nodes_menu">
                    <ul id="nodes_list">
                        {% for item in nodes_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('config_file_menu')"><h2>config files</h2></a>
                <div class="side_bar_content" id="config_file_menu">
                    <ul id="config_file_list">
                        {% for item in config_files_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('topics_menu')"><h2>topics</h2></a>
                <div class="side_bar_content" id="topics_menu">
                    <ul id="topics_list">
                        {% for item in topics_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" onclick="ToggleList('services_menu')"><h2>services</h2></a>
                <div class="side_bar_content" id="services_menu">
                    <ul id="services_list">
                        {% for item in services_list %}
                            <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- side bar end -->

            <div class="primary">
                <h1>{{name}}</h1>

	            <h2>Nodes using this service type:</h2>	
                <ul id="nodes">
                    {% for item in nodes %}
                        <li><a href="{{ item.href }}"> {{ item.topic }}</a></li>
                    {% endfor %}
                </ul>
                <h2> Service input parameters: </h2>
	            <div class="type_content">
                    <p>{{input_params}}</p>
	            </div>
                <h2> Service output parameters: </h2>
	            <div class="type_content">
                    <p>{{output_params}}</p>
	            </div>
            </div> <!-- end primary -->
            
            <div class="footer">
                <p class="footer"> {{ date }}</p>
            </div> <!-- end footer -->

        </div> <!-- end container -->
    </body>
</html>
