/** Definitions not working! **/
:root {
  var-grey-box: #F2F2F2;
}
/******************************/

h1 {
    color: #2222FF;
    text-align_left;
    font-size: 24px;
    font-family:"Helvetica";
    padding: 0px; 
}

h2 {
    color: #2222FF;
    text-align_left;
    font-size: 16px;
    font-family:"Helvetica";
    padding: 0px; 
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 5px;
    padding-left: 15px;
    font-family: "Helvetica";
    font-size: 14px;
}

ul li:before {content: "\00BB \0020"; }

A:link {
    text-decoration: none; 
    color: black;     
    font-family: "Helvetica";
    font-size: 14px;
}

A:visited {
    text-decoration: none; 
    color: black
    font-family: "Helvetica";
    font-size: 14px;
}

A:active {
    text-decoration: none; 
    color: black
    font-family: "Helvetica";
    font-size: 14px;
}

A:hover {
    text-decoration: underline; 
    color: blue;
    font-family: "Helvetica";
    font-size: 14px;
}


h3 {
    font-size: 25px;
    font-family: "Helvetica";
    color: blue;  
}


img {
     max-width: 80%;
}

.image {
    padding: 20px;
    left: 50%;
}
.side_bar_content {
    display: none; 
    padding: 5px; 
}

.container {
    width: 1024px;
    margin: 0 auto;
    position: relative
}

.primary {
    float: left;
    width: 700px;
    position: absolute
    left: 324px
    padding: 5px;
}

.side_bar{
    float: left;
    width: 324px;
}
.header {
    clear: both;
    text-align: center;
    background-color: #F2F2FF;
    padding-left: 20px;
}

.header_table{
    margin-left: 20px;
    width: 80%;
}

.footer {
    clear: both;
	padding: 5px;
    background-color: #F2F2FF;
    text-align: center;
}

.link_style {
    padding-left: 5px;  
    width: 650px;
}

.node_description {
    background-color: #F2F2FF;
    padding: 5px; 
    font-size: 14px;
    font-family: "Helvetica";
}

.config_content {
    background-color: #F2F2F2; 
    padding: 5px;   
    font-size: 14px;
    font-family: "Courier New";
    width: 650px;
}

.type_content {
    background-color: #F2F2F2; 
    padding: 5px; 
    font-size: 14px;
    font-family: "Courier New";
    width: 650px;
}

.list_element {
    background-color: #F2F2FF;
    padding: 10px; 
    font-size: 10px;
    font-family: "Helvetica";
}

.list_element_li:text {
    font-size: 10px;
    font-family: "Helvetica";
}
.footer {
    color: blue;
    text-align_left;
    font-size: 12px;
    font-family:"Helvetica";
    padding: 5px;  
    margin-top: 10px;
}

